<h1>Positions#new</h1>
<p>Find me in app/views/positions/new.html.erb</p>
<%= form_for @position do |f| %>
  <h2> Previous Positions </h2>
  <%= f.label :title %>
  <%= f.text_field :title %><br/><br/>
  <%= f.label :description %> <br/>
  <%= f.text_area :description %><br/><br />
  <%= f.fields_for :company do |company| %>
    <%= company.label :company_name %><br/>
    <%= company.text_field :company_name %><br/>
    <%= company.label :size %><br/>
    <%= company.select :size, Company.sizes %><br/>
    <%= company.label :sector %><br/>
    <%= company.select :sector, Company.sectors %><br/>
    <%= company.label :industry %>
    <%= company.collection_select :industry, Industry.all, :id, :field %><br>
  <% end %>

    <%= f.label :start_date %>
    <%= f.date_select :start_date %><br/>
    <%= f.label :end_date %>
    <%= f.date_select :end_date %><br/>
    <br />
    <%= f.submit "Create new Position" %><br/><br />
    <%= link_to "Cancel", @user %>
<% end %>
