<h1> New User Form </h1>


<div class="error"> <%= flash.notice %></div>

<% if @user.errors.any? %>
<ul>
    <% @user.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
    <% end %>
</ul>
<% end %>

<%= semantic_form_for @user do |f| %>
    <%=f.inputs :username, :fullname, :password, :password_confirmation%>
    <%=f.action :submit %>
<% end %>
