

<h1> Edit your details: </h1>


<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this resume from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= f.fields_for :educations do |education| %>
      <h2> Education </h2>
      <%= education.label :degree %>
      <%= education.select :degree, Education.degrees %><br>
      <%= education.label :institution_name %>
      <%= education.text_field :institution_name %><br>
      <%= education.label :start_date %>
      <%= education.date_select :start_date  %><br>
      <%= education.label :end_date %>
      <%= education.date_select :end_date %><br>
    <% end %><br>
    <%= f.fields_for :positions do |position| %>
      <h2> Previous Positions </h2>
      <%= position.label :title %>
      <%= position.text_field :title %><br>
      <%= position.label :description %>
      <%= position.text_area :description %><br>
      <%= position.fields_for :company do |company| %>
        <%= company.label :company_name %><br>
        <%= company.text_field :company_name %><br>
        <%= company.label :size %><br>
        <%= company.collection_select :size, Company.all, :size, :size %><br>
        <%= company.label :sector %><br>
        <%= company.collection_select :sector, Company.all, :sector, :sector %><br>
        <%= company.label :industry %>
        <%= company.collection_select :industry, Industry.all, :id, :field %><br>
      <% end %>

        <%= position.label :start_date %>
        <%= position.date_select :start_date %><br>
        <%= position.label :end_date %>
        <%= position.date_select :end_date %><br>
    <% end %>
    <br>


    <%= f.submit 'Edit Resume' %>

<%end%>
