<h1> Enter your details: </h1>
<%= form_for @user do |f| %>
  <%= f.fields_for :education do |education| %>
      <h2> Education </h2>
      <%= education.label :degree %>
      <%= education.collection_select :degree, Education.all, :degree, :degree %><br>
      <%= education.label :institution %>
      <%= education.text_field :institution %><br>
      <%= education.label :start_date %>
      <%= education.date_select :start_date  %><br>
      <%= education.label :end_date %>
      <%= education.date_select :end_date %><br>
    <% end %><br>
    <%= f.fields_for :position do |position| %>
      <h2> Previous Positions </h2>
      <%= position.label :title %>
      <%= position.text_field :title %><br>
      <%= position.label :description %>
      <%= position.text_area :description %><br>
      <%= position.fields_for :company do |company| %>
        <%= company.label :company_name %><br>
        <%= company.text_field :company_name %><br>
        <%= company.label :industry %>
        <%= company.collection_select :industry, Industry.all, :id, :field %><br>
      <% end %>

      <%= position.label :start_date %>
      <%= position.date_select :start_date %><br>
      <%= position.label :end_date %>
      <%= position.date_select :end_date %><br>
    <%end%><br>
    <%= f.submit 'Create Resume' %>
<%end%>
