

<h1> Enter your details: </h1>


<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this resume from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= f.fields_for :educations do |education| %>
      <h2> Education </h2>
      <%= education.label :degree %>
      <%= education.collection_select :degree, Education.all, :degree, :degree %><br>
      <%= education.label :institution_name %>
      <%= education.text_field :institution_name %><br>
      <%= education.label :start_date %>
      <%= education.date_select :start_date  %><br>
      <%= education.label :end_date %>
      <%= education.date_select :end_date %><br>
    <% end %><br>
    <br>


    <%= f.submit 'Create Resume' %>

<%end%>
