<!DOCTYPE html>
<html>
  <head>
    <title>ResumeGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# This nav bar should show on every page unless the user is not logged in%>
    <% if @user %>
    <div class="navigation">
      <ul>
            Welcome <%= @user.fullname %>
            <a href="/users/<%=@user.id%>/">About</a>
            <a href="/users/<%=@user.id%>">Profile</a>
            <a href="/analytics">Analytics</a>
            <a href="/logout">Logout</a>
          </ul>
        </div>
        <% end %>
    <%= yield %>
  </body>
  <footer>
      <p>resume game? is a proof-of-concept project designed by Srikant Kalaputapu and Trevor Jameson</p>
  </footer>
</html>
