<!DOCTYPE html>
<html>
  <head>
    <title>ResumeGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">
      <ul>
        <%# This nav bar should show on every page but the homepage/login page%>
        <a href="/show/#{@user.id}">Profile</a>
        <a href="#">Analytics</a>
        <a href="/logout">Logout</a>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
