<!DOCTYPE html>
<html>
  <head>
    <title>Resume Game Logout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    <%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# This nav bar should show on every page unless the user is not logged in%>
    <%= yield %>
  </body>
</html>
